@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f57760;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

/* Centered Box for the options */
.options-box {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 500px; /* Adjust the width */
}

.options-box button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #ff334b;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px; /* Add horizontal margin between buttons */
    transition: background-color 0.3s ease;
}

.options-box button:hover {
    background-color: #b71c4b;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black with transparency */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Buttons */
button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #ff334b;
    color: white;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #b71c4b;
}

textarea {
    display: block;
    margin: 10px auto; /* This centers the textarea horizontally */
    width: 80%; /* Adjust the width as needed */
    max-width: 200px; /* Set a maximum width */
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box; /* To include padding in the width */
}

textarea[style="display:none;"] {
    display: none; /* Ensure it's hidden initially */
}
